{% from "./../macros/teamMember.njk" import teamMember %}

{{
	teamMember(
		"/team/ahmed_pic.jpg",
		"Ahmed Sultan",
		"Head of Design",
		"Stuyvesant High School",
		"Ahmed has a wide variety of interests—ranging from computer science and technology, to finance and economics, to design and even international relations—but joined the Blockchains For Schools family in order to learn more about blockchain technology, which he feels is a field with so much potential. Currently serving as the Head of Design for BFS, Ahmed is eager to continue working and learning more about blockchain while helping the organization grow. Outside of BFS, Ahmed is the Secretary-General of his school's Model UN team, an editor for the school newspaper, and a director for StuyHacks.",
		"Ahmed plays Super Smash Bros. Ultimate competitively",
		{
			"email": "asultan00@stuy.edu",
			"linkedin": "https://www.linkedin.com/in/ahmedksultan/",
			"github": "https://github.com/ahmedksultan"
		},
		""
	)
}}
