{% from "./../macros/teamMember.njk" import teamMember %}

{{
	teamMember(
		"/team/raunak_pic.jpeg",
		"Raunak Chowdhury",
		"Founder",
		"Raunak is a freshman at MIT, intending to major in Computer Science and minor in Business Management. He is extremely passionate about the benefits of technology when it is applied to society, as well as democratizing access to tech; to that end, he founded BlockchainsForSchools in July 2018 to spread awareness of blockchain technology after witnessing the generation gap in the blockchain industry in an internship at a blockchain company he had that summer. In his free time, he loves socializing with and meeting people, whether they be friends or new acquaintances, playing Smash or badminton, or working on pet projects.",
		"Raunak was supposed to be born in 2002, but was born a week early and was born in 2001!",
		{
			"email": "raunak@blockchainsforschools.org",
			"linkedin": "https://www.linkedin.com/in/raunak-chowdhury/",
			"github": "https://github.com/raunakchowdhury"
		}
	)
}}


{{
	teamMember(
		"/team/victor_pic.jpg",
		"Victor Kuang",
		"Co-President",
		"Victor Kuang is a senior at Stuyvesant High School. Victor has a diverse group of interests, such as physics, guitars, and satirical writing. He got his start with blockchain technology after exploring his interest in cryptocurrency. He then joined the 2018-2019 cohort of BlockchainsForSchools to expand his knowledge even further. Currently, Victor helps lead all New York City events in the mentoring department, planning each monthly session of the program.",
		"PINEAPPLE PIZZA IS OK!!!!!",
		{
			"email": "victor@blockchainsforschools.org",
			"linkedin": "https://www.linkedin.com/in/victor-kuang-255102148/"
		}
	)
}}

{{
	teamMember(
		"/team/rubin_pic.jpg",
		"Rubin Peci",
		"Vice President/Treasurer",
		"Rubin is a freshman at New York University, currently double majoring in Computer Science and Economics. He has been involved in the blockchain space for over 3 years and is extremely passionate about computer science, and the applications it has to the finance industry. Rubin was initially a mentee for BlockchainsForSchools, but became involved in helping the company grow and develop. He also manages the finances for BlockchainsForSchools. In his free time, Rubin enjoys lacrosse, reading, and socializing.",
		"Rubin is Albanian.",
		{
			"email": "rubinpeci@gmail.com",
			"linkedin": "https://www.linkedin.com/in/rubin-peci",
			"github": "https://github.com/LargeLlama"
		}
	)
}}
