{% from "./../macros/teamMember.njk" import teamMember %}

{{
	teamMember(
		"/team/raunak_pic.jpeg",
		"Raunak Chowdhury",
		"Founder",
		"MIT",
		"Raunak is a freshman at MIT, intending to major in Computer Science and minor in Business Management. He is extremely passionate about the benefits of technology when it is applied to society, as well as democratizing access to tech; to that end, he founded BlockchainsForSchools in July 2018 to spread awareness of blockchain technology after witnessing the generation gap in the blockchain industry in an internship at a blockchain company he had that summer. In his free time, he loves socializing with and meeting people, whether they be friends or new acquaintances, playing Smash or badminton, or working on pet projects.",
		"Raunak was supposed to be born in 2002, but was born a week early and was born in 2001!",
		{
			"email": "raunak@blockchainsforschools.org",
			"linkedin": "https://www.linkedin.com/in/raunak-chowdhury/",
			"github": "https://github.com/raunakchowdhury"
		},
		"0px -36px"
	)
}}


{{
	teamMember(
		"/team/victor_pic.jpg",
		"Victor Kuang",
		"Co-President",
		"Stuyvesant High School",
		"Victor Kuang is a senior at Stuyvesant High School. Victor has a diverse group of interests, such as physics, guitars, and satirical writing. He got his start with blockchain technology after exploring his interest in cryptocurrency. He then joined the 2018-2019 cohort of BlockchainsForSchools to expand his knowledge even further. Currently, Victor helps lead all New York City events in the mentoring department, planning each monthly session of the program.",
		"PINEAPPLE PIZZA IS OK!!!!!",
		{
			"email": "victor@blockchainsforschools.org",
			"linkedin": "https://www.linkedin.com/in/victor-kuang-255102148/"
		},
		"0 -27px"
	)
}}

{{
	teamMember(
		"/team/rubin_pic.jpg",
		"Rubin Peci",
		"Vice President/Treasurer",
		"NYU",
		"Rubin is a freshman at New York University, currently double majoring in Computer Science and Economics. He has been involved in the blockchain space for over 3 years and is extremely passionate about computer science, and the applications it has to the finance industry. Rubin was initially a mentee for BlockchainsForSchools, but became involved in helping the company grow and develop. He also manages the finances for BlockchainsForSchools. In his free time, Rubin enjoys lacrosse, reading, and socializing.",
		"Rubin is Albanian.",
		{
			"email": "rubinpeci@gmail.com",
			"linkedin": "https://www.linkedin.com/in/rubin-peci",
			"github": "https://github.com/LargeLlama"
		},
		"0 -56px"
	)
}}


{{
	teamMember(
		"/team/kaitlin_pic.jpg",
		"Kaitlin Wan",
		"Director of Marketing and Logistics",
		"Binghamton University",
		"Kaitlin has been interested in computers since the first time she played street fighters. She is amazed by how quickly the technology in our world advances. She aspires to work in the tech field as either a software engineer or a project manager. After graduating Stuyvesant High School where she was involved in the computer science community, she now studies computer science and math at Binghamton University. In the past, she has helped organize many hackathons, like StuyHacks and TeenHacks LI, and would love to continue being involved in the CS community for years to come. At Blockchains for Schools, Kaitlin works in the hackathon department as the general director of marketing and logistics. ",
		"Used to figure skate",
		{
			"email": "kaitlin@blockchainsforschools.org",
			"github": "https://github.com/KaitlinWan",
			"linkedin": "https://www.linkedin.com/in/kaitlinwan"
		},
		"0 -20px"
	)
}}
