{% from "./../macros/teamMember.njk" import teamMember %}

{{
	teamMember(
		"/team/matthew_pic.jpg",
		"Matthew Bilik",
		"Hackathon Sponsorship Director & Web Dev Department Head",
		"Brooklyn Technical High School",
		"Matthew is a junior at Brooklyn Technical High School in Fort Greene. He has extensive experience organizing events, hosting three hackathons with a total attendance of over 300 persons. In doing so, he has worked with companies such as Microsoft, Google, and Bloomberg, establishing strong relationships with corporate sponsors. He currently leads hackathon sponsorship efforts at BFS and is the Web Dev department head along with Raunak. When he is not working on BFS or my own computer science nonprofit, you can find him working on his research, programming, or chilling with friends!",
		"Matthew in the midst of starting a band and listens to a lot of indie music!",
		{
			"email": "mbilik0726@bths.edu",
			"linkedin": "https://www.linkedin.com/in/matthewbilik",
			"github": "https://github.com/mattbilik"
		},
		"0px -36px"
	)
}}


{{
	teamMember(
		"/team/jeffrey_pic.png",
		"Jeffrey Yu",
		"Hackathon & Logistics Lead",
		"UPenn",
		"Jeffrey is currently a student at the University of Pennsylvania studying Economics and Computer Science. He has been organizing hackathons for over four years now and is the founder of TeenHacks LI. He believes hackathons provide a unique environment to experiment in computer science that is vital for capturing the interests of students from all fields. He is excited to be helping plan Blockchains for Hacks and be a part of this amazing team.",
		"Fun Fact: Jeffrey has never had Fiji water.",
		{
			"email": "jeffrey@blockchainsforschools.org",
			"linkedin": "https://www.linkedin.com/in/jeffreyyu101/",
			"github": "https://github.com/jeffreyyu101"
		},
		"0px 0px"
	)
}}

{{
	teamMember(
		"/team/zoe_wong.jpg",
		"Zoe Wong",
		"Hackathon Outreach Member",
		"MIT",
		"Hello, my name is Zoe Wong. I am currently a freshman at MIT and I plan on majoring in Electrical Engineering and Computer Science. I am interested in studying artificial intelligence as well as robotics.
As a member of the BFS Outreach department, I want to make our wonderful opportunities to learn Blockchain technology more known to high school and college students.",
		"I love coffee! But sometimes, I drink sparkling water to stay awake! :))",
		{
			"email": "zoe@blockchainsforschools.org"
		},
		"0px -100px"
	)
}}


