{% from "./../macros/teamMember.njk" import teamMember %}

{{
	teamMember(
		"/team/brandon_pic.jpg",
		"Brandon Nydick",
		"Mentorship Program Staffer",
		"Collegiate School",
		"Brandon has been a competitive chess player since he was six years old. He also plays a lot of tennis and loves to surf. His favorite subjects are History and English. At BFS, he works as a staffer in the Mentorship Program, helping to organize educational events that connect high-school students to professionals in the blockchain industry.",
		"Brandon was born in Hong Kong.",
		{
			"email": "brandon@blockchainsforschools.org",
			"linkedin": "https://www.linkedin.com/in/brandon-nydick-9346b6198/"
		},
		""
	)
}}

{{
	teamMember(
		"/team/camera-shy.jpg",
		"Liam Lee Kitt",
		"Mentor",
		"Loyola School",
		"Liam is really into coding and took multiple programs at Columbia School of Engineering for it. He focuses on Python and Arduino programming.",
		"Liam loves free hand rock climbing",
		{
			"email": "Liamx2003@gmail.com",
			"github": "https://github.com/Arcliam"
		},
		"0 -20px"
	)
}}

{{
	teamMember(
		"/team/camera-shy.jpg",
		"Yulin Zheng",
		"Head of Mentoring Program",
		"Stuyvesant High School",
		"Yulin is a fun lad who does fun stuff. He organizes the mentoring program sessions along with Victor. He also does not believe that water is wet.",
		"There is a difference between ground coffee and instant coffee. Yulin had the unfortunate experience of not knowing that for some time.",
		{
			"email": "yulin@blockchainsforschools.org"
		},
		"0 -20px"
	)
}}
