{% from "./../macros/teamMember.njk" import teamMember %}

{{
	teamMember(
		"/team/lin_pic.jpg",
		"Lin Zhang",
		"Outreach Member",
		"Northeastern University",
		"I am a Cellular & Molecular Biology major on the pre-med track. I am a part of the outreach division at BFS responsible for contacting other schools/organizations and recruiting new members to the program. ",
		"My favorite food is potatoes, in any shape or form.",
		{
			"email": "zhang.lin6@husky.neu.edu",
			"linkedin": "https://www.linkedin.com/in/lin-zhang-546459176/"
		},
		"0 -75px"
	)
}}

{{
	teamMember(
		"/team/angelique_pic.jpg",
		"Angélique Charles-Davis",
		"Head of Outreach",
		"Stuyvesant High School",
		"Angélique is a member of Stuyvesant's Class of 2020, and enjoys studying computer science, math and creative writing. She is also a competitive sprinter, writes humor for her school newspaper, and tutors middle schoolers. Angélique is thrilled to be working on the outreach team, working to spread BFS' important program to as many students as possible.",
		"Angélique would kill a man for a good bowl of fried rice.",
		{
			"email": "acharles-davis00@stuy.edu",
			"github": "https://github.com/angeliquecd"
		},
		"0 -77px"
	)
}}

{{
	teamMember(
		"/team/kaitlin_pic.jpg",
		"Kaitlin Wan",
		"Director of Marketing and Logistics",
		"Binghamton University",
		"Kaitlin has been interested in computers since the first time she played street fighters. She is amazed by how quickly the technology in our world advances. She aspires to work in the tech field as either a software engineer or a project manager. After graduating Stuyvesant High School where she was involved in the computer science community, she now studies computer science and math at Binghamton University. In the past, she has helped organize many hackathons, like StuyHacks and TeenHacks LI, and would love to continue being involved in the CS community for years to come. At Blockchains for Schools, Kaitlin works in the hackathon department as the general director of marketing and logistics. ",
		"Used to figure skate",
		{
			"email": "acharles-davis00@stuy.edu",
			"github": "https://github.com/angeliquecd"
		},
		"0 -77px"
	)
}}


{{
	teamMember(
		"/team/safwan_pic.jpg",
		"Safwan Almobin",
		"Outreach Member",
		"Bronx High School of Science",
		"I am passionate about the field of computer science. Ever since I was little I aspired to become a computer science engineer when I grow up. After finding Blockchains For Schools, my interest had expanded even further. After going to multiple workshops, I fell in love with this organization. Now being apart of this team makes me feel even more special. ",
		"I love playing Basketball",
		{
			"email": "almobins@bxscience.edu"
		},
		"0 -20px"
	)
}}

{{
	teamMember(
		"/team/harry_pic.jpg",
		"Harry Li",
		"Outreach Member",
		"Wardlaw-Hartridge ",
		"Is our imagination the only limitation to technology? Or is it the other way around? That is the question I want to answer.",
		"I have 20 dogs.",
		{
			"email": "hli@whschool.org"
		},
		"0 -20px"
	)
}}
