{% from "./../macros/teamMember.njk" import teamMember %}

{{
	teamMember(
		"/team/lin_pic.jpg",
		"Lin Zhang",
		"Outreach Member",
		"Northeastern University",
		"I am a Cellular & Molecular Biology major on the pre-med track. I am a part of the outreach division at BFS responsible for contacting other schools/organizations and recruiting new members to the program. ",
		"My favorite food is potatoes, in any shape or form.",
		{
			"email": "zhang.lin6@husky.neu.edu",
			"linkedin": "https://www.linkedin.com/in/lin-zhang-546459176/"
		},
		"0 -75px"
	)
}}

{{
	teamMember(
		"/team/angelique_pic.jpg",
		"Angélique Charles-Davis",
		"Head of Outreach",
		"Stuyvesant High School",
		"Angélique is a member of Stuyvesant's Class of 2020, and enjoys studying computer science, math and creative writing. She is also a competitive sprinter, writes humor for her school newspaper, and tutors middle schoolers. Angélique is thrilled to be working on the outreach team, working to spread BFS' important program to as many students as possible.",
		"Angélique would kill a man for a good bowl of fried rice.",
		{
			"email": "acharles-davis00@stuy.edu",
			"github": "https://github.com/angeliquecd"
		},
		"0 -77px"
	)
}}


{{
	teamMember(
		"/team/safwan_pic.jpg",
		"Safwan Almobin",
		"Outreach Member",
		"Bronx High School of Science",
		"I am passionate about the field of computer science. Ever since I was little I aspired to become a computer science engineer when I grow up. After finding Blockchains For Schools, my interest had expanded even further. After going to multiple workshops, I fell in love with this organization. Now being apart of this team makes me feel even more special. ",
		"I love playing Basketball",
		{
			"email": "almobins@bxscience.edu"
		},
		"0 -20px"
	)
}}

{{
	teamMember(
		"/team/harry_pic.jpg",
		"Harry Li",
		"Outreach Member",
		"Wardlaw-Hartridge ",
		"Is our imagination the only limitation to technology? Or is it the other way around? That is the question I want to answer.",
		"I have 20 dogs.",
		{
			"email": "hli@whschool.org"
		},
		"0 -20px"
	)
}}


{{
	teamMember(
		"/team/samiul_pic.jpg",
		"Samiul Hoque",
		"Marketing Lead",
		"The Bronx High School of Science",
		"I'm currently a senior at BxSci, and I plan to major in Computer Science. I love to problem solve and bring people together so we can solve complex problems together to make the world a better place. As market lead of BFS, I develop strategies to help the tech community get more involved with BFS. Our biggest marketing project so far is our campus ambassador system, where we gather passionate tech students to increase blockchain and BFS awareness to their institutions.",
		"I love music and want to be a famous jazz musician as a side job.",
		{
			"email": "samiul@blockchainsforschools.org",
			"github": "https://github.com/HSamiul",
			"linkedin": "https://www.linkedin.com/in/samiul-hoque-009a16192/"
		},
		"0 -20px"
	)
}}
