{% from "./../macros/teamMember.njk" import teamMember %}

{{
	teamMember(
		"/team/kazi_pic.jpg",
		"Kazi Jamal",
		"Web Development Member",
		"Stuyvesant High School",
		"Kazi is a high school senior that is passionate about computer science. He loves programming, software development, and web development. Along with software, he is interested in computer hardware, so he builds and repairs computers as a hobby. He also enjoy graphic design and video editing. At BFS, He is a part of the web development team and he is helping to design and develop the website.",
		"He loves retro video games, and own an Atomic Purple Game Boy Color.",
		{
			"email": "kazi@blockchainsforschools.org",
			"linkedin": "https://www.linkedin.com/in/kazi-jamal-4b13b618a/",
			"github": "https://github.com/kazijamal"
		},
		"0 -20px"
	)
}}

{{
	teamMember(
		"/team/abir_pic.jpg",
		"Abir Taheer",
		"Web Development Member",
		"Stuyvesant High School",
		"Abir loves working on side projects of all kind, whether it be programming his roomba to change direction using his voice or making an online cards against humanity game. Another one of his side hobbies is photography and he loves going out to new places and shooting with his friends. At BFS, he's on the web dev team and he works to improve the website, adding functionality as well as making it sleeker.",
		"His go-to silly word is Banana.",
		{
			"email": "abir@blockchainsforschools.org",
			"linkedin": "https://www.linkedin.com/in/AbirTaheer",
			"github": "https://github.com/abir-taheer"
		},
		"0 -134px"
	)
}}
