{% block appbar %}
<header class="mdc-top-app-bar">
	<div class="mdc-top-app-bar__row">
		<section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
			<button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
			<span class="mdc-top-app-bar__title">
        <a href="/"><img src="/b4s-logo-01.png" class="nav-logo" alt="b4s logo"/></a>
      </span>
		</section>
	</div>
</header>
<div class="mdc-top-app-bar--short-fixed-adjust"></div>
{% endblock %}
