{% extends "base.html" %}

{% block content %}
<div style="margin-left:2%;">
  <h2 style="margin-top:1%;">Apply to Our Programs</h2>
  <p> BlockchainsForSchools runs a host of programs throughout the year. </p>
  <p> Click <a href="/apply/intern">here</a> to apply to our Summer Immersion program.</p>
  <p> Click <a href="/apply/mentoring">here</a> to apply to our Mentoring program as a mentor or mentee.</p>
  <p> Click <a href="/apply/staff">here</a> to apply to become a BFS Staffer!</p>
</div>
{% endblock %}
