{% extends "base.html" %}
{% block content %}
<div>
  <div class="jumbotron jumbotron-fluid text-center align-items-center m-0"
       style="padding: 10em 0 10em 0; color: white;background: url('/venue-blur-dark.jpg') 0 -40px; background-size: cover;text-shadow: 2px 3px black;">
      <h2 class="display-4" style="display: none">Blockchains4Hacks 2020</h2>
      <h4 class="lead" style="display: none; font-size: 2rem;">May 30-31, 2020</h4>
    </div>
  </div>
<div>
  <ul class="nav nav-tabs nav-fill" id="tabs" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="about-tab"
        data-toggle="tab"
        href="#about"
        role="tab"
        aria-selected="true"
        >About</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="sponsors-tab"
        data-toggle="tab"
        href="#sponsors"
        role="tab"
        aria-selected="false"
        >Sponsors</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="venue-tab"
        data-toggle="tab"
        href="#venue"
        role="tab"
        aria-selected="false"
        >Venue</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="schedule-tab"
        data-toggle="tab"
        href="#schedule"
        role="tab"
        aria-selected="false"
        >Schedule</a>
    </li>
    <li class="nav-item">
      <a
	class="nav-link"
	id="support-tab"
	data-toggle="tab"
	href="#support"
	role="tab"
	aria-selected="false"
	>Support Our Hackathon</a>
    </li>
  </ul>
  <div class="tab-content">
    <div
      class="tab-pane fade show active"
      id="about"
      role="tabpanel"
      aria-labelledby="about-tab"
      >
      <div class="container py-5 text-center">
        <p>
          Blockchains4Hacks is one of the first introductory blockchain-focused hackathons open to high school and college students. For 24 hours, students will learn about ways to integrate blockchain into their applications, hacking away at challenges, and building applications that integrate those services. We plan to host workshops leading up to the hackathon, allowing participants to immerse themselves in blockchain before building their projects.
        </p>
        <p>
          In our continued commitment and support for diversity, we plan to offer travel reimbursements for students who are not located in NYC. We also plan to set funds aside specifically for hackers whose backgrounds are commonly underrepresented in the tech industry, in addition to low income students.
        </p>
        <p>
          Our hope is that students will walk away with a deeper knowledge of blockchain as well as firsthand experience on how to use the technology. We also hope that the projects created at this hackathon will blossom and continue even after B4H 2020 is over.
        </p>
      </div>
      </div>
      <div
        class="tab-pane fade"
        id="sponsors"
        role="tabpanel"
        aria-labelledby="sponsors-tab"
      >
        <div class="container py-5 text-center">
          <h3>Sponsors</h3>
          <div class="mb-5 pb-5 row d-flex flex-wrap align-items-center">
            <div class="col-sm-4 my-3">
              <a href="https://ethereum.org">
                <img src="/ethereum-branding.png" alt="ethereum" width="200" />
              </a>
            </div>
            <div class="col-sm-4 my-3">
              <a href="https://www.microsoft.com">
                <img src="/microsoft-branding.png" alt="microsoft" width="200" />
              </a>
            </div>
            <div class="col-sm-4 my-3">
              <a href="https://hackclub.com/bank/">
                <img src="/hack-club-branding.png" alt="hack club" width="200" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="venue"
        role="tabpanel"
        aria-labelledby="venue-tab"
      >
        <div class="container py-5 text-center">
          <h3>Our venue is located at Microsoft Times Square (11 Times Square, New York, NY 10036).</h3>
          <p>Located in the heart of NYC and right across from the Port Authority Bus Terminal and the Times Square MTA station, Microsoft Times Square offers a modern and well-equipped hacking space that is easily accessible from all corners of NYC. The commitment of Microsoft Reactor, the overlying organization, to hacker and developer culture as well as diversity and inclusivity cemented this as our choice as a venue to host the hackathon.</p>
	  <div class="py-3">
	    <img src="/venue.jpg" alt="venue" class="img-fluid" />
	  </div>
          <div class="py-3">
            <img src="/location_map.png" alt="map" class="img-fluid" />
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="schedule"
        role="tabpanel"
        aria-labelledby="schedule-tab"
      >
        <div class="container py-5 text-center">
          <p>TBD! We will release the schedule closer to the hackathon date.</p>
        </div>
      </div>
      <div class="tab-pane fade" id="support" role="tabpanel" aria-labelledby="support-tab">
	<div class="container py-5 text-center">
	  <p>If you are interested in sponsoring/partnering with us for the hackathon, please email us at <a href="mailto: hackathon@blockchainsforschools.org!">hackathon@blockchainsforschools.org</a></p>
	</div>
      </div>
    </div>
  </div>
</div>

<!--Adds the fadein animation for the jumbotron text-->
<script>
  document.addEventListener("DOMContentLoaded", () =>{
    $(".jumbotron").children().fadeIn(1500);
  });
</script>
{% endblock %}
