{% extends "base.html" %}
{% from "macros/mdcTabItem.njk" import mdcTabItem %}

{% block content %}
<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
<!--<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>-->
<meta property="og:title" content="Blockchains4Hacks" />
<meta property="og:description" content="Blockchains4Hacks is one of the first introductory blockchain-focused hackathons open to high school and college students." />
<meta property="og:image" content="/hackathon-logo.png" />

<div>
	<div class="mdc-card background-card text-center" id="hackathon-cover-picture">
		<h2 class="display-4" style="display: none">Blockchains4Hacks 2020</h2>
		<h5 class="lead" style="display: none; font-size: 2rem;">May 30-31, 2020</h5>
	</div>
</div>
<div>
	<div id="content"></div>

	<style>
		@media only screen and (max-width: 839px){
			.content-container {
				width: 90vw;
				margin-left: 5vw;
			}

			.desktop-only {
				display: none;
			}
		}

		@media only screen and (min-width: 840px){
			.content-container {
				width: 70vw;
				margin-left: 15vw;
			}
		}

	</style>
	<script src="/hackathon.compiled.js"></script>
</div>


<!--Adds the fadein animation for the jumbotron text-->
<script>
	document.addEventListener("DOMContentLoaded", () => {
		$(".background-card").children().fadeIn(1500);
	});
</script>
{% endblock %}
