{% extends "base.html" %}
{% from "macros/mdcTabItem.njk" import mdcTabItem %}

{% block content %}
<div>
	<div class="mdc-card background-card text-center"
		id="hackathon-cover-picture">
		<h2 class="display-4" style="display: none">Blockchains4Hacks 2020</h2>
		<h4 class="lead" style="display: none; font-size: 2rem;">May 30-31, 2020</h4>
	</div>
</div>
<div>
	<div class="mdc-tab-bar" role="tablist">
		<div class="mdc-tab-scroller">
			<div class="mdc-tab-scroller__scroll-area">
				<div class="mdc-tab-scroller__scroll-content tab-items-container">
					{{ mdcTabItem("", "About", true, {"data-tab": "#about"} ) }}
					{{ mdcTabItem("", "Sponsors", false, {"data-tab": "#sponsors"} ) }}
					{{ mdcTabItem("", "Venue", false, {"data-tab": "#venue"} ) }}
					{{ mdcTabItem("", "Schedule", false, {"data-tab": "#schedule"}) }}
					{{ mdcTabItem("", "Support Our Hackathon", false, {"data-tab": "#support"}) }}
				</div>
			</div>
		</div>
	</div>
	<div class="tab-content">
		<div
				class="tab-pane fade show active"
				id="about"
				role="tabpanel"
				aria-labelledby="about-tab"
		>
			<div class="container py-5 text-center">
				<p>
					Blockchains4Hacks is one of the first introductory blockchain-focused hackathons open to high school
					and college students. For 24 hours, students will learn about ways to integrate blockchain into
					their applications, hacking away at challenges, and building applications that integrate those
					services. We plan to host workshops leading up to the hackathon, allowing participants to immerse
					themselves in blockchain before building their projects.
				</p>
				<p>
					In our continued commitment and support for diversity, we plan to offer travel reimbursements for
					students who are not located in NYC. We also plan to set funds aside specifically for hackers whose
					backgrounds are commonly underrepresented in the tech industry, in addition to low income students.
				</p>
				<p>
					Our hope is that students will walk away with a deeper knowledge of blockchain as well as firsthand
					experience on how to use the technology. We also hope that the projects created at this hackathon
					will blossom and continue even after B4H 2020 is over.
				</p>
			</div>
		</div>
		<div
				class="tab-pane fade"
				id="sponsors"
				role="tabpanel"
				aria-labelledby="sponsors-tab"
		>
			<div class="container py-5 text-center">
				<h3>Sponsors</h3>
				<div class="mb-5 pb-5 row d-flex flex-wrap align-items-center">
					<div class="col-sm my-3">
						<a href="https://ethereum.org">
							<img src="/ethereum-branding.png" alt="ethereum" width="200"/>
						</a>
					</div>
					<div class="col-sm my-3">
						<a href="https://www.microsoft.com">
							<img src="/microsoft-branding.png" alt="microsoft" width="200"/>
						</a>
					</div>
					<div class="col-sm my-3">
						<a href="https://hackclub.com/bank/">
							<img src="/hack-club-branding.png" alt="hack club" width="200"/>
						</a>
					</div>
					<div class="col-sm my-3">
						<a href="https://www.trailofbits.com/">
                            <img src="/supporters/trail-of-bits.png" alt="trail of bits" width="200"/>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div
				class="tab-pane fade"
				id="venue"
				role="tabpanel"
				aria-labelledby="venue-tab"
		>
			<div class="container py-5 text-center">
				<h3>Our venue is located at Microsoft Times Square (11 Times Square, New York, NY 10036).</h3>
				<p>Located in the heart of NYC and right across from the Port Authority Bus Terminal and the Times
					Square MTA station, Microsoft Times Square offers a modern and well-equipped hacking space that is
					easily accessible from all corners of NYC. The commitment of Microsoft Reactor, the overlying
					organization, to hacker and developer culture as well as diversity and inclusivity cemented this as
					our choice as a venue to host the hackathon.</p>
				<div class="py-3">
					<img src="/venue.jpg" alt="venue" class="img-fluid"/>
				</div>
				<!--Google map-->
				<div id="map-container" class="z-depth-1-half map-container" style="height: 500px">
					<iframe src="https://maps.google.com/maps?q=microsoft%20times%20square&t=&z=13&ie=UTF8&iwloc=&output=embed"
					        frameborder="0"
					        style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<div
				class="tab-pane fade"
				id="schedule"
				role="tabpanel"
				aria-labelledby="schedule-tab"
		>
			<div class="container py-5 text-center">
				<p>TBD! We will release the schedule closer to the hackathon date.</p>
			</div>
		</div>
		<div class="tab-pane fade" id="support" role="tabpanel" aria-labelledby="support-tab">
			<div class="container py-5 text-center">
				<p>If you are interested in sponsoring/partnering with us for the hackathon, please email us at <a
						href="mailto: hackathon@blockchainsforschools.org!">hackathon@blockchainsforschools.org</a></p>
			</div>
		</div>
	</div>
</div>
</div>

<!--Adds the fadein animation for the jumbotron text-->
<script>
	document.addEventListener("DOMContentLoaded", () => {
		$(".background-card").children().fadeIn(1500);

		$(".tab-items-container").children().on("click", (ev) => {
			$(".tab-pane").removeClass("active").removeClass("show");
			$(ev.currentTarget.getAttribute("data-tab")).addClass("show").addClass("active");
		});
	});

	var bg = $("#team-cover-picture");

	function resizeBackground() {
		bg.height($(window).height() + 69);
	}

	$(window).resize(resizeBackground);
	resizeBackground();
</script>
{% endblock %}
