{% extends "base.html" %}

{% block content %}
<div style="margin-left:2%;">
	<h2 style="margin-left:2%;">
		<h2 style="margin-top:1%">Summer Immersion Program</h2>
		<p>Our summer internship program: running in July, Summer Immersion connects high school students to companies
			that are in need of interns. We create relationships with startups and companies to create internships that
			did not exist, and then match high schoolers that apply through our program to them. Our first iteration
			occurred in July 2019, with 65 students from 5 states (New York, New Jersey, Connecticut, Washington, and
			Texas) working at 20 blockchain companies based in NY, CT, London and Bangkok. We host monthly workshops for
			them in partnership with Coinbase, Consensys, IBM, and the New York Blockchain Center.
		</p>
		<h3 style="margin-top:1%;">Interested in applying as an intern? Go <a href="/apply">here</a> to apply</h3>
</div>
{% endblock %}
