{% extends "base.html" %} {% block content %}

<div
	class="jumbotron jumbotron-fluid text-center align-items-center m-0"
	style="padding: 10em 0 10em 0; color: white;background: url('/summerimmersion.jpg') 0 -180px; background-size: cover;text-shadow: 2px 3px black;"
>
	<h2 class="display-4" style="display: none;">Summer Immersion</h2>
	<h4 class="lead" style="display: none; font-size: 2rem;">Summer 2020</h4>
</div>

<div class="text-center" style="margin-left:2%; margin-bottom: 4%;">
	<h2 style="margin-top:2%">Summer Immersion Program</h2>
	<p class="text-center">
		Our summer internship program: running in July, Summer Immersion connects
		high school students to companies that are in need of interns. We create
		relationships with startups and companies to create internships that did not
		exist, and then match high schoolers that apply through our program to them.
		Our first iteration occurred in July 2019, with 65 students from 5 states
		(New York, New Jersey, Connecticut, Washington, and Texas) working at 20
		blockchain companies based in NY, CT, London and Bangkok. We host monthly
		workshops for them in partnership with Coinbase, Consensys, IBM, and the New
		York Blockchain Center.
	</p>
	<h3 class="text-center" style="margin-top:1%;">
		Interested in applying as an intern? Go
		<a href="/summerimmersion/apply">here</a> to apply
	</h3>
</div>

<!--Adds the fadein animation for the jumbotron text-->
<script>
	document.addEventListener('DOMContentLoaded', () => {
		$('.jumbotron')
			.children()
			.fadeIn(1500);
	});
</script>
{% endblock %}
