{% extends "base.html" %} {% block content %}
<!-- image carousel -->
<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselIndicators" data-slide-to="1"></li>
		<li data-target="#carouselIndicators" data-slide-to="2"></li>
		<li data-target="#carouselIndicators" data-slide-to="3"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="d-block w-100" src="/jpmorgan.jpg" alt="JP Morgan" />
		</div>
		<div class="carousel-item">
			<img
				class="d-block w-100"
				src="/mentorship.jpg"
				alt="Mentoring Program"
			/>
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="/ibm.jpg" alt="IBM" />
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="/stafferteam.jpg" alt="Unknown" />
		</div>
		<img
			class="carousel-heading"
			src="/b4s-logo-01.png"
			alt="BlockchainsForSchool Logo"
		/>
	</div>
	<a
		class="carousel-control-prev"
		href="#carouselIndicators"
		role="button mx-auto"
		data-slide="prev"
	>
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a
		class="carousel-control-next"
		href="#carouselIndicators"
		role="button mx-auto"
		data-slide="next"
	>
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<!-- checks to see if there is a username before displaying welcome message-->
<!-- {% block welcome %} {% if user == null %}
<h1>Welcome!</h1>
{% else %}
<h1>Welcome, {{user}}!</h1>
{% endif %} {% endblock %} -->

<div class="about">
	<p class="lead">
		BlockchainsForSchools is a 501(c)(3) nonprofit aimed at connecting students
		with the blockchain industry. To that end we run a mentoring program, a
		summer internship program, and a hackathon. We also host series of workshops
		with companies all across NYC.<br />
	</p>
	<!-- in future: add recap of previous events -->
</div>

<!-- <hr /> -->

<!--Switched this to MDC Layout Grid - 12/28/2019-->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 about">
			<h2>Blockchains4Hacks 2020</h2>
			<p>
				Blockchains4Hacks is one of the first introductory blockchain-focused
				hackathons open to high school and college students. For 24 hours,
				students will learn about ways to integrate blockchain into their
				applications, hacking away at challenges, and building applications
				that integrate those services. We plan to host workshops leading up to
				the hackathon, allowing participants to immerse themselves in
				blockchain before building their projects.
			</p>
			<br />
			<a class="button" href="/hackathon">Hackathon!</a>
		</div>
		<div class="col-sm-6 about">
			<h2>Mentorship Program</h2>
			<p>
				Our mentoring program: running September-May, the BFS Mentoring
				Program connects high schoolers with mentors in the space. These
				mentors consist of software engineers, business executives,
				researchers, and investors who are actively working within blockchain
				industry at companies like Google, McKinsey, Goldman Sachs, JP Morgan,
				Yahoo, Forbes, Ethereum, Consensys, Livepeer, and ThoughtWorks.
			</p>
			<br />
			<a class="button" href="/mentorship">Mentorship!</a>
		</div>
		<div class="col-sm-6 about">
			<h2>Summer Immersion</h2>
			<p>
				Our summer internship program: running in July, Summer Immersion
				connects high school students to companies that are in need of
				interns. We create relationships with startups and companies to create
				internships that did not exist, and then match high schoolers that
				apply through our program to them.
			</p>
			<br />
			<a class="button" href="/summerimmersion">Summer Immersion!</a>
		</div>
		<div class="col-sm-6 about">
			<h2>Apply to our Programs</h2>
			<p>
				BlockchainsForSchools runs a host of programs throughout the year. You
				can apply to our Summer Immersion and Mentoring programs, and also
				apply to become a BFS staffer.
			</p>
			<br />
			<a class="button" href="/apply">Apply!</a>
		</div>
		<div class="col-sm-6 about">
			<h2>Meet our Team</h2>
			<p>
				Behind the scenes is a devoted team of students working to help make everything run smoothly.
				Learn more about each of us and what we do!
			</p>
			<br />
			<a class="button" href="/team">Meet Us!</a>
		</div>
	</div>
</div>

<div id="supporters" class="about supporters-tab">
	<h2>Our Past and Present Supporters</h2>
	<img src="/supporters/google.png" width="190" />
	<img src="/supporters/microsoft.png" width="270" />
	<img src="/supporters/amazon.png" width="170" />
	<img src="/supporters/cisco.png" width="150" />
	<img src="/supporters/digital-ocean.png" width="130" />
	<img src="/supporters/ibm.png" width="170" />
	<img src="/supporters/jpmorgan.png" width="230" />
	<img src="/supporters/ethereum-foundation-logo.svg" width="220" />
	<img src="/supporters/coinbase.png" width="200" />
	<img src="/supporters/consensys.png" width="230" />
	<img src="/supporters/gemini.png" width="200" />
	<img src="/supporters/deloitte.png" width="200" />
	<img src="/supporters/accenture.png" width="200" />
	<img src="/supporters/algorand.png" width="200" />
	<img src="/supporters/r3.png" width="160" />
	<img src="/supporters/t3.png" width="80" />
	<img src="/supporters/digital-asset-holdings.png" width="200" />
	<img src="/supporters/trail-of-bits.png" width="160" />
	<img src="/supporters/ben_square_logo.png" width="200" />
</div>

<!-- <hr /> -->
<br />
<br />
<!-- <div class="about">
	<p>
		The website is still under construction; please pardon our appearance!
		If
		you have any questions, please
		<a href="mailto:hello@blockchainsforschools.com">email us</a>!
	</p>
</div> -->

<!-- fields postTitle, postAuthor, postDate (and eventaully postBody) will be procured from the databse through the index app -->

<!-- <div class="post">
     <h2>{{ postTitle }}</h2>

     <p id="byline">
       posted by <span class="highlight"><b>{{ postAuthor }}</b></span
								  >, on <span class="highlight"><b>{{ postDate }}</b></span>
     </p>

     <div class="postBody">
       <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. Lectus nulla at
         volutpat diam. Urna neque viverra justo nec ultrices. Aliquam sem
         fringilla ut morbi tincidunt augue. Feugiat in ante metus dictum at tempor
         commodo. Placerat vestibulum lectus mauris ultrices eros in. Nunc mi ipsum
         faucibus vitae aliquet nec. Elementum nisi quis eleifend quam. Massa vitae
         tortor condimentum lacinia quis. Eget mi proin sed libero enim sed
         faucibus turpis. Cras adipiscing enim eu turpis. Tincidunt lobortis
         feugiat vivamus at augue. Fermentum dui faucibus in ornare quam viverra
         orci sagittis. Cursus in hac habitasse platea dictumst quisque sagittis.
         Lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci.
         Gravida quis blandit turpis cursus in hac habitasse platea. Nunc sed id
         semper risus in hendrerit gravida rutrum. Pharetra massa massa ultricies
         mi quis hendrerit.
       </p>
       <p>
         Tincidunt augue interdum velit euismod in pellentesque massa. Ipsum dolor
         sit amet consectetur. Varius vel pharetra vel turpis nunc eget. Est
         ultricies integer quis auctor elit sed vulputate mi. Vel fringilla est
         ullamcorper eget nulla facilisi etiam dignissim diam. Tellus id interdum
         velit laoreet id donec ultrices. Tortor dignissim convallis aenean et
         tortor at risus viverra. In hendrerit gravida rutrum quisque. Vel turpis
         nunc eget lorem dolor sed viverra ipsum. Nam aliquam sem et tortor
         consequat id. Gravida rutrum quisque non tellus orci. Blandit volutpat
         maecenas volutpat blandit aliquam etiam erat velit scelerisque. Viverra
         accumsan in nisl nisi scelerisque eu. Ultrices neque ornare aenean euismod
         elementum nisi quis. Ridiculus mus mauris vitae ultricies leo integer
         malesuada nunc. Rhoncus mattis rhoncus urna neque viverra justo nec
         ultrices dui. In egestas erat imperdiet sed euismod nisi porta. Eget
         gravida cum sociis natoque penatibus et magnis dis. Neque sodales ut etiam
         sit amet nisl purus. Fames ac turpis egestas sed tempus urna et pharetra.
       </p>
       <p>
         Felis donec et odio pellentesque. Arcu non sodales neque sodales ut etiam
         sit amet. Eget egestas purus viverra accumsan in nisl nisi scelerisque.
         Risus quis varius quam quisque id diam. Vitae justo eget magna fermentum.
         In pellentesque massa placerat duis. Urna cursus eget nunc scelerisque.
         Consequat id porta nibh venenatis cras sed felis eget. Nec tincidunt
         praesent semper feugiat nibh sed. Eleifend quam adipiscing vitae proin.
         Cras semper auctor neque vitae tempus quam pellentesque nec. Quis viverra
         nibh cras pulvinar mattis nunc sed. Ac turpis egestas integer eget aliquet
         nibh praesent tristique magna. Quis ipsum suspendisse ultrices gravida.
         Sodales neque sodales ut etiam sit amet nisl. Sed velit dignissim sodales
         ut. Vel pretium lectus quam id. Augue eget arcu dictum varius duis at
         consectetur.
       </p>
     </div>
</div> -->
{% endblock %}
