<!DOCTYPE HTML>
<html>
    <head>
        <title>BlockhainsForSchools</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div class="heading">
            <img src="/static/b4s-logo-01.png" alt="b4s logo">
        </div>

        <!-- checks to see if there is a username before displaying welcome message-->
        {% block welcome %}
        {% if user == null %}
            <h1>Welcome!</h1>
        {% else %}
            <h1>Welcome, {{user}}!</h1>
        {% endif %}
        {% endblock %}

        <div class="about">
            <p>BlockchainsForSchools is a 501(c)(3) nonprofit aimed at connecting students with the blockchain industry.</p>
        </div> 

    </body>
</html>
