{% extends "base.html" %}

{% block content %}
<div style="margin-left:2%;">
	<h2 style="margin-top:1%;">Mentorship Program</h2>
	<p> Click <a href="/mentorship">here</a> to learn more about our Mentoring program.</p>
	<p> Applications for our 2019-2020 Mentoring Program are currently open! Please click the links to learn more! </p>
	<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#mentor" aria-expanded="false"
	        aria-controls="mentor" style="background-color:#4CBB85; border:none;">
		Apply as a mentor
	</button>
	<div class="collapse" id="mentor">
		<div class="card card-body">
			<div class="typeform-widget" data-url="https://hackathonbfs.typeform.com/to/VIQt64" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=VIQt64&utm_source=typeform.com-01DWR36VR37DTHGE7ETYZN0Z10-professional&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>
			<!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSelc792CipoPDCtxIIHfbv7I5gnksU1TYOKo039GrPKTNgbNQ/viewform?embedded=true"
			        width="640" height="1495" frameborder="0" marginheight="0" marginwidth="0">Loading…
			</iframe> -->
		</div>
	</div>
	<br> <br>
	<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#mentee" aria-expanded="false"
	        aria-controls="mentee" style="background-color:#4CBB85; border:none;">
		Apply as a mentee
	</button>
	<div class="collapse" id="mentee">
		<div class="card card-body">
			<div class="typeform-widget" data-url="https://hackathonbfs.typeform.com/to/YqgqGT" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=YqgqGT&utm_source=typeform.com-01DWR36VR37DTHGE7ETYZN0Z10-professional&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>
			<!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd8G6pBo3gTTkwm-RL1EwPb5WrWGtZuLlzK-9O0z10Ip6yhbQ/viewform?embedded=true"
			        width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading…
			</iframe> -->
		</div>
	</div>


	{% endblock %}
