{% block menu %}
<aside class="mdc-drawer mdc-drawer--modal">
	<div class="mdc-drawer__header">
		<!-- <h3 class="mdc-drawer__title">Blockchains for Schools</h3>
		<h6 class="mdc-drawer__subtitle">email@material.io</h6> -->
	</div>
	<div class="mdc-drawer__content">
		<nav class="mdc-list">
			<a class="mdc-list-item" href="/" tabindex="0">
				<i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
				<span class="mdc-list-item__text">Home</span>
			</a>
			<a class="mdc-list-item" href="/apply">
				<i class="material-icons mdc-list-item__graphic" aria-hidden="true">how_to_reg</i>
				<span class="mdc-list-item__text">Apply</span>
			</a>
			<a class="mdc-list-item" href="/hackathon">
				<i class="material-icons mdc-list-item__graphic" aria-hidden="true">local_play</i>
				<span class="mdc-list-item__text">Hackathon</span>
			</a>
			<a class="mdc-list-item" href="/mentorship" tabindex="0">
				<i class="material-icons mdc-list-item__graphic" aria-hidden="true">people</i>
				<span class="mdc-list-item__text">Mentorship Program</span>
			</a>
			<a class="mdc-list-item" href="/summerimmersion" tabindex="0">
				<i class="material-icons mdc-list-item__graphic" aria-hidden="true">wb_sunny</i>
				<span class="mdc-list-item__text">Summer Immersion</span>
			</a>
		</nav>
	</div>
</aside>
<div class="mdc-drawer-scrim"></div>
{% endblock %}