{% block menu %}
<aside class="mdc-drawer mdc-drawer--modal">
  <div class="mdc-drawer__header">
    <a href="/"
      ><img src="/b4s-logo-01.png" id="sidebar-nav-logo" alt="b4s logo"
    /></a>
  </div>
  <div class="mdc-drawer__content">
    <nav class="mdc-list">
      <a class="mdc-list-item" href="/" tabindex="0">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true"
          >home</i
        >
        <span class="mdc-list-item__text">Home</span>
      </a>
      <a class="mdc-list-item" href="/hackathon">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true"
          >computer</i
        >
        <span class="mdc-list-item__text">Hackathon</span>
      </a>
      <a class="mdc-list-item" href="/mentorship">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true"
          >school</i
        >
        <span class="mdc-list-item__text">Mentorship Program</span>
      </a>
      <a class="mdc-list-item" href="/summerimmersion">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true"
          >wb_sunny</i
        >
        <span class="mdc-list-item__text">Summer Immersion</span>
      </a>
      <a class="mdc-list-item" href="/team">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true"
          >emoji_people</i
        >
        <span class="mdc-list-item__text">Meet our Team</span>
      </a>
      <a class="mdc-list-item" href="/apply">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true"
          >people</i
        >
        <span class="mdc-list-item__text">Apply to our Programs</span>
      </a>
    </nav>
  </div>
</aside>
<div class="mdc-drawer-scrim"></div>
{% endblock %}
