{% block menu %}
<aside class="mdc-drawer mdc-drawer--modal">
  <div class="mdc-drawer__header">
    <h3 class="mdc-drawer__title">BlockchainsForSchools</h3>
  </div>
  <div class="mdc-drawer__content">
    <nav class="mdc-list">
      <a class="mdc-list-item" href="/">
	<i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
	<span class="mdc-list-item__text">Home</span>
      </a>
      <a class="mdc-list-item" href="/hackathon">
	<i class="material-icons mdc-list-item__graphic" aria-hidden="true">local_play</i>
	<span class="mdc-list-item__text">Hackathon</span>
      </a>
      <a class="mdc-list-item" href="/mentorship">
	<i class="material-icons mdc-list-item__graphic" aria-hidden="true">assignment_ind</i>
	<span class="mdc-list-item__text">Mentorship</span>
      </a>
      <a class="mdc-list-item" href="/summerimmersion">
	<i class="material-icons mdc-list-item__graphic" aria-hidden="true">date_range</i>
	<span class="mdc-list-item__text">Summer Immersion</span>
      </a>
      <a class="mdc-list-item" href="/team">
	<i class="material-icons mdc-list-item__graphic" aria-hidden="true">local_play</i>
	<span class="mdc-list-item__text">Team</span>
      </a>
      <a class="mdc-list-item" href="/apply">
	<i class="material-icons mdc-list-item__graphic" aria-hidden="true">how_to_reg</i>
	<span class="mdc-list-item__text">Apply</span>
      </a>
    </nav>
  </div>
</aside>
<div class="mdc-drawer-scrim"></div>
{% endblock %}
