{% extends "base.html" %}

{% block content %}
<div style="margin-left:2%;">
  <h2 style="margin-top:1%;">Want to be a staffer?</h2>
  <br>
  <p>
    We are now recruiting for several of our divisions!
    If you become a staffer, you will be able to:
    <ul>
      <li>Work in one of the most unique nonprofits in the US (to our knowledge, we are the only high school blockchain nonprofit operating on the East Coast)</li>
      <li>Be able to organize and partake in events that we hold with Fortune 500 companies (including Microsoft, IBM, Google, and JP Morgan), billion dollar startups, and prominent professionals in the industry</li>
      <li>Gain experience and insight into what it really means to work in a nonprofit</li>
      <li>Hone your skillsets as a team player as well as what role you take</li>
      <li>Regularly interact with professionals as our nonprofit sits extremely close to the industry</li>
      <li>Other opportunities to network and get access to events (we were at Ethereal, one of the largest blockchain events, this year!)</li>
      <li>Finally be able to explain blockchain to your friends :)</li>
    </ul>
  </p>

  <p>Scroll down and click on the "Positions" button below to see the positions we have available!</p>
  <p>The application can be accessed <a href="https://forms.gle/RCnEjfvXpzbwZUZq7"> here</a>!</p>
  <hr>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#descriptions" aria-expanded="false" aria-controls="descriptions" style="background-color:#4CBB85; border:none; margin-bottom: 5%;">
    Positions
  </button>

  <div class="collapse" id="application">
    <div class="card card-body">
    </div>
  </div>
  <div class="collapse" id="descriptions">
    <div class="card card-body">
      <!-- Mentoring Program -->
      <h3>Mentoring Program:</h3>
      <i>
        Department responsible for organizing the BFS Mentorship Program, which connects high schoolers with mentors in the industry, that runs in the fall and spring.
      </i>
      <br>
      <p>
        Role: Education Team
        <br>
        Description: Designs the curriculum for the mentorship program and helps to plan out and run sessions in engaging ways.
        <br>
      </p>
      <p>
        Role: Workshop Coordinator
        <br>
        Description: Works and networks with companies to help set up workshops and run sessions in general.
      </p>

      <!-- Summer Immersion -->
      <hr>
      <h3>Summer Immersion:</h3>
      <i>
        Department responsible for organizing the Summer Immersion Program, which connects high schoolers to unpaid summer internships with blockchain companies.
      </i>
      <br>
      <p>
        Role: Logistics Manager
        <br>
        Description: Will help with the weekly workshop organization and will coordinate food and funding. Basically Sidra’s (the president in charge of Summer Immersion) right hand person.
      </p>
      <p>
        Role: Recruiter
        <br>
        Description: Will work with Outreach to spread the word about the internship program. Will help the department with processing Summer Immersion applications. Will also work with companies to arrange for them to open internships for our Summer Immersion interns.
      </p>
      <p>
        Role: Editor
        <br>
        Description: Will help with cleaning up emails and professionally designing them. People with previous experience being an Editor on a (school) newspaper or with strong grammar skills preferred.
      </p>

      <!-- Hackathon -->
      <hr>
      <h3>Hackathon:</h3>
      <i>
        Department responsible for organizing the BFS Hackathon, a blockchain-focused hackathon slated to run in May 2020.
      </i>
      <br>
      <p>
        Role: Member of Logistics
        <br>
        Description: Aids with organization of hackathon, whether it be communicating with outreach, putting together a prospectus, and other tasks required (such as setting up Eventbrites, organizing a calendar of workshops, and organizing programming of the hackathon). Will also be required to be at the hackathon and leading volunteers to certain tasks.
      </p>

      <!-- Outreach -->
      <hr>
      <h3>Outreach:</h3>
      <i>
        Department responsible for maintaining a social media presence, distributing advertisements to high schools when needed, connecting more companies with BFS, and increasing outreach and presence in more high schools.
      </i>
      <br>
      <p>
        May need staffers later; however, if you are interested in this department, please apply! We are looking for people who would like to reach out to high schools and companies on behalf of our other departments.
      </p>

      <!-- Design -->
      <hr>
      <h3>Design:</h3>
      <i>
        Department responsible for creating designs for BFS. This can include, but not limited to: logos, shirts, stickers, posters, and ads.
      </i>
      <br>
      <p>
        Role: Graphic Designer (general)
        <br>
        Description: Those interested in being a graphic designer should have some experience with logo, poster, and advertisement design — preferably, with general design experience as well. Experience with Adobe Illustrator/some equivalent preferred. Graphic designers for BlockchainsForSchools should be ready and able to create various materials for events, advertisements, and other purposes. If you have a portfolio or sample work, please link it in your application.
      </p>
      <p>
        Role: Photographer
        <br>
        Description: Those interested in being a photographer should have experience with camera photography. Photographers for BlockchainsForSchools should be willing and able to attend events and workshops frequently with equipment, and be able to edit photos for publication and general/marketing materials. If you have a portfolio or sample pieces, please link it in your application.
      </p>
      <p>
        Role: Web Designer
        <br>
        Description: Those interested in web design should have some background/experience in both backend and frontend design (if you only have expertise in one field, please note it in your application). Recommended knowledge includes HTML, CSS, JavaScript (Node.js, Express.js). Willingness to learn or prior knowledge of React preferred. If you have examples of websites you have worked on, please link it in your application. Will work with <b>Webdev</b>.
      </p>
      <p>
        Role: Hackathon Designer
        <br>
        Description: Graphic designers specifically focused on designing the prospectus and memorabilia for the hackathon. While mainly working on the hackathon, designers specializing in this field may be called upon to do some work for the general organization. Designs prospectus and memorabilia for the hackathon. Experience with Adobe Illustrator/some equivalent preferred. If you have a portfolio or sample work, please link it in your application.
      </p>

      <!-- Webdev -->
      <hr>
      <h3>Webdev:</h3>
      <i>
        Department responsible for maintaining this site!
      </i>
      <br>
      <p>
        See <b>Design</b> for position openings.
      </p>

      <!-- Finance -->
      <hr>
      <h3>Finance:</h3>
      <i>
        Department for managing the finances of BFS.
      </i>
      <br>
      <p>None needed.</p>
    </div>
  </div>
</div>
{% endblock %}
