@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,400i,500,500i,700,700i,900,900i&display=swap");

/* ----- COLORS -----

#4CBB85 - ocean green
#FAFFF9 - baby powder
#828A95 - roman silver
#91D7F7 - pale cyan
#CCD7E4 - columbia blue

----- COLORS ----- */

html {
	scroll-behavior: smooth;
}

/* ----- BODY ----- */

body {
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #fafff9;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}

a {
  color: #4cbb85;
}

a:hover {
  color: #4cbb85;
}

/* ----- HEADER & FOOTER ----- */

.heading {
  padding: 25px;
  background-color: #4cbb85;
  margin: 0px;
}

.heading img {
  display: block;
  border: none;
  width: 10%;
  height: 10%;
}

.footer {
  position: absolute;
  height: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px;
  background-color: #4cbb85;
  text-align: center;
}

.socialmedia {
  display: inline-block;
}

.fa {
  padding-top: 8px;
  margin-right: 5px;
  height: 30px;
  width: 30px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: #4cbb85;
  background-color: white;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
  color: #4cbb85;
}

/* ----- WELCOME ----- */

h1 {
  font-family: "Red Hat Display";
  color: #4cbb85;
  text-align: center;
  font-size: 100px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 0px;
  font-weight: 900;
}

.carousel {
  position: relative;
  text-align: center;
}

.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 3px #222);
}

.carousel-inner {
  width: 100%;
  max-height: 700px !important;
}

.announce {
  font-family: sans-serif;
  color: #4cbb85;
  text-align: center;
  padding-top: 50px;
  font-size: 60px;
  padding-bottom: 0px;
  margin: 0px;
}

.button {
  display: inline-block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-family: "Red Hat Display";
  font-weight: 700;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  font-size: 15px;
  background-color: #4cbb85;
  box-shadow: -3px -3px white;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  transition: 0.3s;
  display: inline-block;
}

.button:hover {
  color: #4cbb85;
  background-color: white;
  box-shadow: 3px 3px #4cbb85;
  transition: 0.15s;
  text-decoration: none;
}

.carousel-indicators li {
  height: 13px;
  width: 13px;
  margin-left: 7px;
  margin-right: 7px;
}

.carousel-indicators .active {
  background-color: #4cbb85;
}

/* ----- ABOUT ----- */

.about {
  text-align: center;
  padding: 40px;
}

.about hr {
  width: 100%;
}

.about h2 {
  font-family: "Red Hat Display";
  color: #4cbb85;
  text-align: center;
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 0px;
  font-weight: 700;
}

.about p {
  font-family: sans-serif;
  padding: 25px;
  margin: 0px;
  font-size: 18px;
}

/* ----- POST ----- */

.post {
  padding: 5%;
  padding-top: 1%;
}

.post h2 {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 36px;
  padding: 0px;
  margin: 0px;
}

#byline {
  font-family: sans-serif;
  font-style: italic;
  font-size: 14px;
  padding-top: 0.5%;
  margin: 0px;
}

.highlight {
  color: #4cbb85;
}

.post .postBody p {
  font-family: sans-serif;
  text-align: justify;
}

/* ----- TABS ----- */
.nav {
  background: #4cbb85;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent;
  border-color: transparent;
  font-weight: bold;
  background: #fafff9;
  color: #4cbb85 !important;
}

.nav-tabs .nav-item .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #fafff9;
  font-size: 18px;
}

.nav-logo {
  max-height: 48px;
  /*noinspection CssInvalidPropertyValue*/
  max-height: -webkit-fill-available;
}

/* ----- MDC THEME ----- */
:root {
  --mdc-theme-primary: #4cbb85;
  --mdc-theme-secondary: #018786;
  --mdc-theme-background: #fff;
  --mdc-theme-surface: #fff;
  --mdc-theme-error: #b00020;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-on-error: #fff;
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.text-center {
  text-align: center;
}

.mdc-drawer__header {
  background-color: #4cbb85;
  padding-top: 8px;
  padding-bottom: 9px;
  text-align: center;
}

.mdc-drawer--modal {
  border: none;
}

.supporters-tab img {
  margin: 0 15px;
}

button:focus {
  outline: none;
}

#sidebar-nav-logo {
  width: 120px;
  height: 48px;
  display: inline-block;
}

.mdc-top-app-bar__row {
  z-index: 2;
}

.carousel-indicators {
  z-index: 1;
}

.homepageTable {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
}

#supporters {
  margin-top: 40px;
}
