{% macro teamMember(image, name, position, school, description, fun_fact, social, bg_pos = "center") %}
<div class="mdc-layout-grid__cell--span-4 team-member">
	<div class="mdc-card mdc-card--outlined">
		<div class="mdc-card__primary-action">
			<div class="mdc-card__media mdc-card__media--square"
			     style="background-image: url('{{ image }}');max-height: 370px;background-position: {{bg_pos}};"></div>
			<div style="padding: 10px">
				<h2 class="mdc-typography mdc-typography--headline6">
					{{ name }}
				</h2>
				<h3 class="mdc-typography mdc-typography--subtitle2">
					{{ position }}
				</h3>
				<h3 class="mdc-typography mdc-typography--subtitle2">
					{{ school }}
				</h3>
			</div>
			<div class="mdc-typography mdc-typography--body2 description" style="padding: 10px; display: none;">
				{{ description }}
			</div>
			<div class="mdc-typography mdc-typography--body2" style="padding: 10px">
				Fun Fact: {{ fun_fact }}
			</div>
		</div>
		<div class="mdc-card__actions">
			<div class="mdc-card__action-buttons">
				{% if social["email"] %}
				<a class="mdc-button mdc-card__action mdc-card__action--button"
				   href="mailto:{{social['email']}}"
				   target="_blank"
				>
					<span class="mdc-button__ripple"></span>
					Email
				</a>
				{% endif %}
			</div>
			<div class="mdc-card__action-icons">
				{% if social["github"] %}
				<a href="{{social['github']}}" target="_blank" class="fa fa-github"></a>
				{% endif %}

				{% if social["linkedin"] %}
				<a href="{{social['linkedin']}}" target="_blank" class="fa fa-linkedin"></a>
				{% endif %}

			</div>
		</div>
	</div>
</div>
{% endmacro %}
